@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,900;1,900&display=swap');

/* <uniquifier>: Use a uniquifier for the class name

.rem-<uniquifier> {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}*/

* {
	text-decoration: none;
	font-family: "REM";
	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
  	background-color: #1C1D22;
  	color: #AFB4BA;
}

a.nav-link {
	color: #EE3823;
	margin: 8vw;
}

.list-item-main {
	display: inline;
}

nav {
	margin: 0em;
	height: 542px;
	background-image: url("./img/Transa-Caetano-Veloso.jpg");
	background-repeat: none;
	background-position: center;
}

#h6-footer{
	text-align: center;
}
